<div class="the-world" onmousedown={{perform pickSize}}>
  <svg>
    {{#each dots as |dot|}}
      <circle cx={{dot.x}} cy={{dot.y}} r={{dot.r}} />
    {{/each}}

    {{#if newDot}}
      <circle cx={{newDot.x}} cy={{newDot.y}} r={{newDot.r}} />
    {{/if}}
  </svg>
</div>