<div class="the-world" onmousedown={{perform createDot}}>
  <svg>
    {{#each dots as |dot|}}
      <circle cx={{dot.x}} cy={{dot.y}} r={{dot.r}} fill="hsl({{dot.hue}},100%,50%)"/>
    {{/each}}

    {{#if newDot}}
      <circle class="new-dot" cx={{newDot.x}} cy={{newDot.y}} r={{newDot.r}} fill="hsl({{newDot.hue}},100%,50%)"/>
    {{/if}}
  </svg>
</div>